#signUpFormContainer{
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between elements */
}

#signUpFormContainer form {
  display: flex;
  flex-direction: column;
}

#signUpFormContainer input,
#signUpFormContainer label {
  margin-bottom: 10px;
}